body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

#add-book {
  display: inline-block;
  text-transform: uppercase;
  background: #3498db;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: 900;
}